body, html {
  height: 100%;
  margin: 0;
  background:#43afd1;
  font-family: Verdana, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #5ce1e6;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header-right a:hover {
  transition: background-color .4s ease;
  background-color: #43afd1;
  color: white;
}

.header a.active {
  background-color: #43afd1;
  color: white;
}

.header-right {
  float: right;
  position: absolute;
  top: 30px;
  right: 35px;
}

.deco {
  position: absolute;
  top: 20px;
  left: 400px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}