body, html {
  height: 100%;
  margin: 0;
  background:#43afd1;
  font-family: Verdana, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #5ce1e6;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header-right a:hover {
  transition: background-color .4s ease;
  background-color: #43afd1;
  color: white;
}

.header a.active {
  background-color: #43afd1;
  color: white;
}

.header-right {
  float: right;
  position: absolute;
  top: 30px;
  right: 35px;
}

.deco {
  position: absolute;
  top: 20px;
  left: 400px;
}

@media screen and (max-width: 500px) {
  #start {
    float: none;
    display: block;
    text-align: left;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.center {
    width: 400px;
    display: inline-block;
    margin: 0 7.5px;
    text-align:center;
}

.button {
    background-color: #43afd1;
    color: white;
    border: solid;
    border-width: 2px;
    padding: 18px 38px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  transition: background-color .4s ease;
  background-color: white;
  color: #43afd1;
}

/*a.center {
    text-decoration: none;
    color: rgb(243, 184, 184);
    width: 155px
}

a.center:hover {
    transition: background-color .4s ease;
    color: rgb(243, 184, 184);
    background-color: white;
}*/